/******************************************************************************
 *
 *  Resources Component Styles
 *
* *****************************************************************************/
.resourceLinks {
  --top-light-color: 106, 100%, 50%;

  scroll-margin-top: 200px;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem 2rem;

  h2 {
    font-size: 2.25rem;
    margin: 0 0 2rem;
    color: #FFFFFF;
    text-shadow: none;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem 0;
    justify-content: flex-start;
    list-style: none;
    margin: 2rem 0;
    padding: 1rem 4%;
    border: 2px solid hsl(var(--top-light-color));
    /* border: 2px solid #becc00; */

    li {
      flex: 0 1 50%;

      a {
        /* color: #0c91ff; */
        color: hsl(var(--bright-orange));
        display: block;
        text-shadow: none;
        font-weight: 700;
        font-size: 1.25rem;
        text-align: left;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  @media screen and (min-width: 768px) {
    ul {
      gap: 1rem 2%;

      li {
        flex: 0 1 22%;

        &:nth-child(4n + 1),
        &:nth-child(4n + 3) {
          a {
            text-align: right;
            word-wrap: normal;
          }
        }
      }
    }
  }
}


/******************************************************************************
  Theme
*******************************************************************************/
@media (prefers-color-scheme: light) {
  .resourceLinks {
    
  }
}
