/******************************************************************************
 *
 *  Header Component Styles
 *
* *****************************************************************************/
.header {
  background-color: rgba(105, 105, 105, 0.75);
  backdrop-filter: blur(0.3125rem);
  padding: 1rem 6%;
  min-height: 64px;
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  /* color: hsla(330, 100%, 71%, 1); */
  color: var(--secondary-text-color);
  display: inline-flex;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1;

  &:hover {
    color: rgba(0, 175, 175, 1);
  }
}


/******************************************************************************
  Nav
*******************************************************************************/
.mainNav {
  display: inline-flex;
  gap: 0 1rem;
  
  a {
    color: var(--secondary-text-color);
    font-size: 1.25rem;
    font-weight: 700;
    cursor: pointer;
    padding: 0;
    position: relative;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 3px;
      background: #00DADA;
      background: linear-gradient(180deg, #8cd2d2 0%, #adffff 40%, #adffff 60%, #00DADA 100%);
      box-shadow: 0 -4px 8px 3px rgba(0, 214, 214, .7);
      border-radius: 2px;
      position: absolute;
      bottom: 0.5rem;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }

    &.current,
    &:hover {
      background: linear-gradient( var(--primary-text-color) 33%, rgb(0, 214, 214) 100%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      &::after {
        bottom: 0;
        opacity: 1;
      }
    }
  }
}


/******************************************************************************
  Theme
*******************************************************************************/
@media (prefers-color-scheme: light) {
.header {
    background-color: var(--secondary-text-color);
  }

  .logo {
    color: #000000;

    &:hover {
      color: #000000;
    }
  }

  .mainNav {

    a {
      color: #000000;

      &::after {
        background: #ffca90;
        box-shadow: 0 -4px 8px 3px #ff8400bb;
      }

      &:hover,
      &.current {
        background: linear-gradient( #000000 33%, #ff8400 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
    }
  }
}