/******************************************************************************
 *
 *  Portfolio Component Styles
 *
* *****************************************************************************/
.portfolio {
  margin: 0 6%;
  scroll-margin-top: 75px;

  .container {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    margin-top: 2rem;
  }
  
  h2 {
    font-size: 2.25rem;
    text-decoration: underline;
    margin: 0;
  }

  .projectCard {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0.75rem;
    border: 1px solid rgb(31 41 55);
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
                0 8px 10px -6px rgb(0 0 0 / 0.1);
    color: #FFF;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    transition: transform 0.3s ease,
                box-shadow 0.3s ease;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.15) 0 7.41137px 11.1171px 0, 
                  rgba(0, 0, 0, 0) 0 0 0 0, 
                  rgba(0, 0, 0, 0.027) 0 5.17726px 6.47158px -1.29432px, 
                  rgba(0, 0, 0, 0.027) 0 2.07091px 2.58863px -1.55318px;
      transform: translateY(-0.5rem);
    }

    h3 {
      font-size: 1.25rem;
      margin-bottom: 0.5rem;
      padding-bottom: 0.3125rem;
      border-bottom: 2px solid var(--secondary-text-color);
    }

    p {
      flex-grow: 1;
      margin-bottom: 1rem;
    }
  }
  
  span {
    color: var(--secondary-text-color);
    font-weight: 700;
  }
}


/******************************************************************************
  Theme
*******************************************************************************/
@media (prefers-color-scheme: light) {
  .portfolio {

    h2 {
      color: #021b27;
    }
  }
}
