/******************************************************************************
 *
 *  Globally Shared Styles
 *
* *****************************************************************************/
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #FFF5EA;
  /* background-color: #4A5650; */
  background-color: #1d252b;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* RGB, built and left open to customize opacity (.card .accent lights) */
  --hot-pink: 330, 100%, 71%;
  --lime: 106, 100%, 50%;
  --teal: 180, 100%, 43%;
  --bright-orange: 31, 100%, 50%;
  --neon-orange: 22, 100%, 50%;
  --neon-blue: 202, 100%, 41%;
  
  --primary-text-color: #FFF5EA;
  --secondary-text-color: hsl(var(--teal));
  --bright-text-color: hsl(var(--hot-pink));
  --bright-text-color-2: #3cff00;
  --highlight-selected-color: #3cff00;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #bababa;
  }
}

/******************************************************************************
  Body and Grid .container styles, layout styles
*******************************************************************************/
*,
*:after,
*:before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

body::selection {
  background-color: var(--highlight-selected-color);
  color: #130E09;
  text-shadow: none;
}

.container {
  background-color: rgba(0, 0, 0, 1);
  background-image: url(/retro-neon-bg-6.jpg);
  background-repeat: no-repeat;
  background-position: center 100px;
  background-size: 100% calc(100% - 100px);
  background-attachment: fixed;
  background-blend-mode: hard-light;
  display: grid;
  grid: 100px/12fr;
  gap: 6rem 50px;
}


/******************************************************************************
  Typography
*******************************************************************************/
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  margin: 0;

  + p {
    margin-top: 1.5rem;
  }
}

a {
  color: hsl(var(--teal));
  text-decoration: inherit;

  &:hover {
    color: hsla(var(--teal), 0.6);
  }
}


/******************************************************************************
  Theme
*******************************************************************************/
@media (prefers-color-scheme: light) {
  :root {
    background-color: #bababa;
  }

  .container {
    background-color: rgba(186, 186, 186, 0.8);
    background-blend-mode: color-dodge;
  }

  a:hover {
    color: #747bff;
  }
}
