/******************************************************************************
 *
 *  Footer Component Styles
 *
* *****************************************************************************/
.footer {
  background: rgba(105, 105, 105, 0.67);
  background-image: blur(8px);
  padding: 2.5rem 8rem;
  min-height: 100px;
}
