/******************************************************************************
 *
 *  Footer Component Styles
 *
* *****************************************************************************/
.footer {
  align-items: center;
  backdrop-filter: blur(8px);
  background: rgba(55, 55, 55, 0.75);
  color: rgb(0, 214, 214);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 100px;
  padding: 2rem 6%;

  p {
    font-size: 1.125rem;
    font-weight: 700;
  }

  a {
    display: inline-flex;

    img {
      display: block;
    }
  }
}


/******************************************************************************
  Theme
*******************************************************************************/
@media (prefers-color-scheme: light) {
  .footer {
    background-color: var(--secondary-text-color);
    color: #000000;
  }
}
