/******************************************************************************
 *
 *  Hero Component Styles
 *
 * *****************************************************************************/
 .hero {
  --top-light-color: var(--neon-blue);
  scroll-margin-top: 200px;

  h1 {
    color: #FCFCFE;
    text-shadow: none;
    margin: 0 0 2rem;
  }

  p {
    line-height: 1.5;
    font-weight: 700;
    text-size-adjust: 100%;
  }
}

.accentColor {
  color: hsl(var(--hot-pink));
}

.wip {
  border: 2px solid hsl(var(--hot-pink));
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 0.25rem 0.5rem;
  text-align: center;
  margin: 2rem auto 0;
  padding: 1rem 10%;
  width: 100%;
}
